In [ ]:
# !pip install opendatasets

In [ ]:
# import opendatasets as od

In [ ]:
# od.download("https://www.kaggle.com/paramaggarwal/fashion-product-images-small")

In [1]:
cd fashion-product-images-small/

C:\Users\KIIT\OneDrive\Desktop\PROJECTS\AI\fashion\fashion-product-images-small

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("styles.csv",error_bad_lines=False)

C:\Users\KIIT\AppData\Local\Temp\ipykernel_10716\177522153.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv("styles.csv",error_bad_lines=False)
Skipping line 6044: expected 10 fields, saw 11
Skipping line 6569: expected 10 fields, saw 11
Skipping line 7399: expected 10 fields, saw 11
Skipping line 7939: expected 10 fields, saw 11
Skipping line 9026: expected 10 fields, saw 11
Skipping line 10264: expected 10 fields, saw 11
Skipping line 10427: expected 10 fields, saw 11
Skipping line 10905: expected 10 fields, saw 11
Skipping line 11373: expected 10 fields, saw 11
Skipping line 11945: expected 10 fields, saw 11
Skipping line 14112: expected 10 fields, saw 11
Skipping line 14532: expected 10 fields, saw 11
Skipping line 15076: expected 10 fields, saw 12
Skipping line 29906: expected 10 fields, saw 11
Skipping line 31625: expected 10 fields, saw 11
Skipping line 33020: expected 10 fields, saw 11
Skipping line 35748: expected 10 fields, saw 11
Skipping line 35962: expected 10 fields, saw 11
Skipping line 37770: expected 10 fields, saw 11
Skipping line 38105: expected 10 fields, saw 11
Skipping line 38275: expected 10 fields, saw 11
Skipping line 38404: expected 10 fields, saw 12

In [4]:
df.head(10)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt
5,1855,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual,Inkfruit Mens Chain Reaction T-shirt
6,30805,Men,Apparel,Topwear,Shirts,Green,Summer,2012.0,Ethnic,Fabindia Men Striped Green Shirt
7,26960,Women,Apparel,Topwear,Shirts,Purple,Summer,2012.0,Casual,Jealous 21 Women Purple Shirt
8,29114,Men,Accessories,Socks,Socks,Navy Blue,Summer,2012.0,Casual,Puma Men Pack of 3 Socks
9,30039,Men,Accessories,Watches,Watches,Black,Winter,2016.0,Casual,Skagen Men Black Watch

In [5]:
df['image'] = df.apply(lambda row: str(row['id']) + ".jpg", axis=1)

In [6]:
df.head(10)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,image
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt,15970.jpg
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans,39386.jpg
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch,59263.jpg
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants,21379.jpg
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt,53759.jpg
5,1855,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual,Inkfruit Mens Chain Reaction T-shirt,1855.jpg
6,30805,Men,Apparel,Topwear,Shirts,Green,Summer,2012.0,Ethnic,Fabindia Men Striped Green Shirt,30805.jpg
7,26960,Women,Apparel,Topwear,Shirts,Purple,Summer,2012.0,Casual,Jealous 21 Women Purple Shirt,26960.jpg
8,29114,Men,Accessories,Socks,Socks,Navy Blue,Summer,2012.0,Casual,Puma Men Pack of 3 Socks,29114.jpg
9,30039,Men,Accessories,Watches,Watches,Black,Winter,2016.0,Casual,Skagen Men Black Watch,30039.jpg

In [7]:
df = df.sample(frac=1)

In [8]:
df.head(10)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,image
6943,48853,Women,Accessories,Jewellery,Pendant,Silver,Summer,2012.0,Casual,Lucera Women Silver Pendant with Chain,48853.jpg
1959,33847,Men,Footwear,Shoes,Casual Shoes,White,Summer,2012.0,Casual,Puma Men Future Cat White Shoes,33847.jpg
31921,8066,Men,Accessories,Wallets,Wallets,Brown,Winter,2016.0,Casual,Fastrack Men Non Leather Brown Wallet,8066.jpg
10668,49514,Men,Accessories,Watches,Watches,Black,Winter,2016.0,Casual,Police Men Black Dial Watch PL12895JS-02M,49514.jpg
35549,37977,Men,Apparel,Topwear,Tshirts,Black,Summer,2012.0,Casual,Classic Polo Men Black T-Shirt,37977.jpg
28971,53071,Women,Accessories,Bags,Clutches,Red,Summer,2012.0,Casual,Rocia Women Red Clutch,53071.jpg
31159,7823,Men,Apparel,Topwear,Tshirts,Grey,Fall,2011.0,Casual,Proline Grey Polo T-shirt,7823.jpg
14037,18539,Unisex,Footwear,Shoes,Casual Shoes,Blue,Summer,2012.0,Casual,Puma Unisex Limnos Insignia Blue Casual Shoes,18539.jpg
19628,12320,Men,Apparel,Topwear,Shirts,Brown,Fall,2011.0,Formal,Genesis Men Brown Striped Shirt,12320.jpg
39157,3973,Women,Apparel,Topwear,Tops,Green,Summer,2011.0,Casual,Jealous 21 Women Green Tunic With Mirror Print...,3973.jpg

In [9]:
df = df.sample(frac=1).reset_index(drop=True)

In [10]:
df.head(10)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,image
0,33631,Women,Accessories,Bags,Handbags,Black,Summer,2012.0,Casual,Lino Perros Women Black Handbag,33631.jpg
1,17992,Women,Apparel,Loungewear and Nightwear,Lounge Pants,Black,Summer,2010.0,Sports,Puma Women Essential Skinny Black Track Pant,17992.jpg
2,32162,Women,Accessories,Socks,Socks,Black,Summer,2017.0,Casual,Playboy Women Playmate Black Ankle Socks,32162.jpg
3,31301,Men,Apparel,Topwear,Shirts,Blue,Summer,2012.0,Formal,John Miller Men Striped Blue Shirt,31301.jpg
4,8284,Men,Footwear,Sandal,Sandals,Black,Fall,2011.0,Casual,Skechers Men Arnold Black Floater,8284.jpg
5,32952,Men,Footwear,Shoes,Casual Shoes,Black,Summer,2012.0,Casual,ADIDAS Neo Men Court Sequence Black Shoes,32952.jpg
6,8258,Men,Footwear,Shoes,Sports Shoes,Orange,Summer,2011.0,Sports,Puma Men's Calibre Convertible Orange Shoe,8258.jpg
7,4355,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual,Batman Men's Batman Applique Shei Grey T-shirt,4355.jpg
8,22125,Men,Footwear,Shoes,Formal Shoes,Black,Fall,2011.0,Formal,Provogue Men Black Formal Shoes,22125.jpg
9,56942,Women,Footwear,Shoes,Heels,Beige,Winter,2012.0,Casual,HM Women Beige Flats,56942.jpg

In [11]:
from keras_preprocessing.image import ImageDataGenerator
batch_size = 256

image_generator = ImageDataGenerator(
    validation_split=0.2
)

training_generator = image_generator.flow_from_dataframe(
    dataframe=df,
    directory="images",
    x_col="image",
    y_col="masterCategory",
    target_size=(60,80),
    batch_size=batch_size,
    subset="training"
)

validation_generator = image_generator.flow_from_dataframe(
    dataframe=df,
    directory="images",
    x_col="image",
    y_col="masterCategory",
    target_size=(60,80),
    batch_size=batch_size,
    subset="validation"
)
classes = len(training_generator.class_indices)

C:\Users\KIIT\AppData\Local\Programs\Python\Python310\lib\site-packages\keras_preprocessing\image\dataframe_iterator.py:279: UserWarning: Found 5 invalid image filename(s) in x_col="image". These filename(s) will be ignored.
  warnings.warn(

Found 35536 validated image filenames belonging to 7 classes.
Found 8883 validated image filenames belonging to 7 classes.

C:\Users\KIIT\AppData\Local\Programs\Python\Python310\lib\site-packages\keras_preprocessing\image\dataframe_iterator.py:279: UserWarning: Found 5 invalid image filename(s) in x_col="image". These filename(s) will be ignored.
  warnings.warn(

In [12]:
classes

7

In [13]:
from keras.models import Sequential
from keras.layers import Conv2D
from keras.layers import MaxPooling2D
from keras.layers import Flatten
from keras.layers import Dense

In [14]:
#Initializing our model
classifier = Sequential()

classifier.add(Conv2D(32,(3,3),input_shape = (60,80,3), activation = 'relu'))

classifier.add(MaxPooling2D(pool_size=(3, 3)))

classifier.add(Conv2D(32,(3,3), activation = 'relu'))
classifier.add(MaxPooling2D(pool_size=(3, 3)))

classifier.add(Flatten())

classifier.add(Dense(units=32,activation = 'relu'))
classifier.add(Dense(units=64,activation = 'relu'))
classifier.add(Dense(units=128,activation = 'relu'))
classifier.add(Dense(units=256,activation = 'relu'))
classifier.add(Dense(units=512,activation = 'relu'))

classifier.add(Dense(units=7,activation = 'softmax'))

classifier.compile(optimizer='adam',
              loss="categorical_crossentropy",
              metrics=['accuracy'])

In [15]:
from math import ceil

classifier.fit_generator(
    generator=training_generator,
    steps_per_epoch=ceil(0.8 * (df.shape[0] / batch_size)),

    validation_data=validation_generator,
    validation_steps=ceil(0.2 * (df.shape[0] / batch_size)),

    epochs=5,
    verbose=1
)

loss, acc = classifier.evaluate_generator(validation_generator, steps=ceil(0.2 * (df.size / batch_size)))
print("\n%s: %.2f%%" % (classifier.metrics_names[1], acc * 100))

C:\Users\KIIT\AppData\Local\Temp\ipykernel_10716\955406711.py:3: UserWarning: `Model.fit_generator` is deprecated and will be removed in a future version. Please use `Model.fit`, which supports generators.
  classifier.fit_generator(

Epoch 1/5
139/139 [==============================] - 106s 745ms/step - loss: 0.6712 - accuracy: 0.7922 - val_loss: 0.2922 - val_accuracy: 0.9051
Epoch 2/5
139/139 [==============================] - 67s 482ms/step - loss: 0.2473 - accuracy: 0.9208 - val_loss: 0.2016 - val_accuracy: 0.9388
Epoch 3/5
139/139 [==============================] - 67s 484ms/step - loss: 0.1805 - accuracy: 0.9454 - val_loss: 0.1792 - val_accuracy: 0.9472
Epoch 4/5
139/139 [==============================] - 66s 477ms/step - loss: 0.1506 - accuracy: 0.9551 - val_loss: 0.1507 - val_accuracy: 0.9563
Epoch 5/5
139/139 [==============================] - 61s 439ms/step - loss: 0.1314 - accuracy: 0.9607 - val_loss: 0.1597 - val_accuracy: 0.9551

C:\Users\KIIT\AppData\Local\Temp\ipykernel_10716\955406711.py:14: UserWarning: `Model.evaluate_generator` is deprecated and will be removed in a future version. Please use `Model.evaluate`, which supports generators.
  loss, acc = classifier.evaluate_generator(validation_generator, steps=ceil(0.2 * (df.size / batch_size)))

WARNING:tensorflow:Your input ran out of data; interrupting training. Make sure that your dataset or generator can generate at least `steps_per_epoch * epochs` batches (in this case, 382 batches). You may need to use the repeat() function when building your dataset.

accuracy: 95.51%

In [16]:
classifier.save("model.h5")

In [19]:
import numpy as np
import keras.utils as image

filename = "15970.jpg"

from keras.models import load_model
new_model = load_model('model.h5')
new_model.summary()

test_image = image.load_img("images/"+filename,target_size=(60,80))
test_image = image.img_to_array(test_image)
test_image = np.expand_dims(test_image, axis = 0)

result = new_model.predict(test_image)
print(result)

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d (Conv2D)             (None, 58, 78, 32)        896

 max_pooling2d (MaxPooling2D  (None, 19, 26, 32)       0
 )

 conv2d_1 (Conv2D)           (None, 17, 24, 32)        9248

 max_pooling2d_1 (MaxPooling  (None, 5, 8, 32)         0
 2D)

 flatten (Flatten)           (None, 1280)              0

 dense (Dense)               (None, 32)                40992

 dense_1 (Dense)             (None, 64)                2112

 dense_2 (Dense)             (None, 128)               8320

 dense_3 (Dense)             (None, 256)               33024

 dense_4 (Dense)             (None, 512)               131584

 dense_5 (Dense)             (None, 7)                 3591

=================================================================
Total params: 229,767
Trainable params: 229,767
Non-trainable params: 0
_________________________________________________________________
1/1 [==============================] - 0s 101ms/step
[[1.7693806e-04 9.9978787e-01 3.1756514e-05 2.8573586e-06 3.2620940e-14
  5.6799644e-07 4.6650070e-09]]

In [20]:
val = np.argmax(result)
print(val)

1

In [21]:
my_dict = training_generator.class_indices
key_list = list(my_dict.keys()) 
val_list = list(my_dict.values()) 
print(key_list[val])

Apparel

In [23]:
import pickle
# save the model to disk
filename1 = 'key_list'
filename = 'val_list'
pickle.dump(key_list, open(filename1, 'wb'))
pickle.dump(val_list, open(filename, 'wb'))